<launch>
  <!-- ROS BAG -->
  <rosparam param="/use_sim_time">true</rosparam>
  <node pkg="rosbag" type="play" name="play" output="screen" required="true"
    args="/home/zhouyi/workspace/dataset/DVS/rpg_eccv2018/rewrite/release/rpg_monitor_edited.bag -r 0.5 --clock">
    <!-- MODIFY THE ABOVE DIRECTORY -->
  </node>

  <!-- Publish stereo camera calibration -->
  <include file="$(find esvo_time_surface)/launch/rosbag_launcher/rpg/rpg_calib_info.launch" />
</launch>
